*.exe
*.exe.*
*.suo
*.pdb
*.AssemblyAttributes.cs
*.AssemblyInfo.cs
*.g.cs
*.cache
*.FileListAbsolute.txt
*.json
*.props
*.targets
*.dll
*.editorconfig
*.CopyComplete
*.v2
*.g.*
*.g.i.*
XamlSaveStateFile.xml
/UWPTaskManagement/obj/x86/Debug/
/UWPTaskManagement/bin/x86/Debug/
/TaskManager/obj/x86/Debug
/TaskManager/bin/Debug/